* {
    padding: 5px;
    text-align: center;

}

input[type="button"]{
    color: rgb(43, 1, 1);
    background-color: rgb(211, 137, 137);
    border-radius: 10px;
    border: none;
    height: 40px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(73, 2, 2);
}

.displayBlock{
    display: block;
}

.contenedorMenu {
    
    margin-left:25%;
    margin-right:25%;

    background-color: rgb(211, 100, 100);
    padding-bottom: 20px;
}

#contenedorOperacion {
    color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    margin-left:25%;
    margin-right:25%;

    background-color: rgb(109, 81, 81);

}

#finPrograma {
    padding: 20px;
    background-color: rgb(211, 100, 100);
    margin-left:25%;
    width: 50%;

}



#login{
    justify-content: center;
}

#titulo {
    padding: 20px;
}